.solar-system {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 305px;
  width: 80vw;
}

.planet-card {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.575);
  border: 1px solid rgb(52, 52, 52);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .planet-card:nth-child( 1 ) {
  width: 41px;
}

.planet-card:nth-child( 2 ) {
  width: 102px;
}

.planet-card:nth-child( 3 ) {
  width: 106px;
}

.planet-card:nth-child( 4 ) {
  width: 66px;
}

.planet-card:nth-child( 5 ) {
  width: 272px;
}

.planet-card:nth-child( 6 ) {
  width: 282px;
}

.planet-card:nth-child( 7 ) {
  width: 144px;
}

.planet-card:nth-child( 8 ) {
  width: 144px;
} */

.planet-image {
  width: 100%;
}
