.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-attachment: fixed;
  background-image: url('./images/background.png');
  background-position: center center;
  background-repeat: repeat;
  color: white;
  font-family: Epilogue , sans-serif;
}

.title {
  text-align: center;
}

